.ch-sel { /* Selectors */
  color : #ff5;
}
.ch-com { /* Comments */
  color : #fa5;
}
.ch-p { /* Properties */
  color : #5ff;
}
.ch-v { /* Values */
  color : #f55;
}
.ch-ps { /* Pseudo-selectors and pseudo-elements */
  color : #ffa;
}
.ch-at { /* At-rules */
  color : #55f;
}
.ch-n { /* The line numbers inserted by parse() method if that option is turned on */
  font-weight : bold;
}
