/* Markup declaration (DOCTYPE) */
.h-decl {
}
/* Processing instruction */
.h-pi {
}
/* Comment */
.h-com {
  color: #ff8800;
}
/* Tag delimiters (less than/greater than) */
.h-ab {
  color: #CCFF99;
}
/* Tag name */
.h-tag {
  color: #3ad3ff;
}
/* Attribute name */
.h-attr {
  color: #db44a7;
}
/* Attribute value */
.h-attv {
  color: #fff59a;
}
/* Entities */
.h-ent {
  color: #cccccc;
}
/* Line number */
.h-lno {
}
