code.perl .keyword, code.perl .keyword2 {
  color : #5ff;
}
code.perl .quote, code.perl .wquote {
  color : #f55;
}
code.perl .comment {
  color : #fa5;
}
code.perl .variable {
  color : #ff5;
}
code.perl .method {
  color : #faa;
}
code.perl .number {
  color : white;
}
code.perl .regexp_statement {
  color : #f55;
}
code.perl .function {
  color : #5ff;
}
