ul.leftmenu li.current {
  width: 150px;
}
ul.leftmenu li a {
  width: 150px;
}
ul.leftmenu li.moduleName {
  width: 150px;
}
form.tagSearchForm input {
  width: 150px;
}
div.comments p.addCommentLink {
  top: 40px;
}
hr {
  color: white; /* hide the original hr */
}
