.menuItems {
           font-family:Verdana,Arial,Helvetica,sans-serif;
           font-size:11px;
           color:#000000;
           }

.startMenu {
            border-color: #FFFFFF #555555 #555555 #FFFFFF;
            border-width: 2px;
            border-style: solid;
            background-color: #D4D0C8;
           }
.messageBox {
         border-width: 1px;
         border-style: solid;
         border-color: #222233;
         background-color: #DDDDEE;
            font-family:Verdana,Arial,Helvetica,sans-serif;
            font-size:11px;
            color:#000000;
           }
HR { 
    border-color:  #555555 #FFFFFF #FFFFFF #555555;
    border-width: 1px;
    border-style: solid;
   }
