.temporaryMessage {
  padding    : 5px 5px 5px 30px;
  margin     : 10px 50px;
  background : #ffff99;
}

.temporaryMessageInfo {
  border     : 1px solid blue;
  background : url("/images/system/about_16.gif") no-repeat 5px 4px;
}

.temporaryMessageError {
  border : 1px solid red;
  color  : red;
  background : url("/images/system/cancl_16.gif") no-repeat 5px 4px;
}

.temporaryMessageWarning {
  border : 1px solid orange;
  background : url("/images/system/flag_16.gif") no-repeat 5px 4px;
}
