.flexigrid div.nDiv {
  background: #eee url("/images/flexigrid/line.gif") repeat-y -1px top;
}

.flexigrid div.nDiv tr:hover td,.flexigrid div.nDiv tr.ndcolover td {
  background: #d5effc url("/images/flexigrid/hl.png") repeat-x top;
}

.flexigrid div.nBtn {
  background: #fafafa url("/images/flexigrid/fhbg.gif") repeat-x bottom;
}

.flexigrid div.nBtn div {
  background: url("/images/flexigrid/ddn.png") no-repeat center;
}

.flexigrid div.nBtn.srtd {
  background: url("/images/flexigrid/wbg.gif") repeat-x 0px -1px;
}

.flexigrid div.mDiv {
  background: url("/images/flexigrid/wbg.gif") repeat-x top;
}

.flexigrid div.mDiv div.ptogtitle span {
  background: url("/images/flexigrid/uup.png") no-repeat center;
}

.flexigrid div.mDiv div.ptogtitle.vsble span {
  background: url("/images/flexigrid/ddn.png") no-repeat center;
}

.flexigrid div.tDiv /*toolbar*/ {
  background: #fafafa url("/images/flexigrid/bg.gif") repeat-x top;
}

.flexigrid div.sDiv /*toolbar*/ {
  background: #fafafa url("/images/flexigrid/bg.gif") repeat-x top;
}

.flexigrid div.hDiv {
  background: #fafafa url("/images/flexigrid/fhbg.gif") repeat-x bottom;
}

.flexigrid div.cDrag div:hover,.flexigrid div.cDrag div.dragging {
  background: url("/images/flexigrid/line.gif") repeat-y 2px center;
}

.flexigrid div.hGrip {
  background: url("/images/flexigrid/line.gif") repeat-x center;
}

.flexigrid div.vGrip {
  background: #fafafa url("/images/flexigrid/wbg.gif") repeat-x 0px -1px;
}

div.colCopy {
  background: #fafafa url("/images/flexigrid/fhbg.gif") repeat-x bottom;
}

.flexigrid div.hDiv th.sorted {
  background: url("/images/flexigrid/wbg.gif") repeat-x 0px -1px;
}

.flexigrid div.hDiv th div.sdesc {
  background: url("/images/flexigrid/dn.png") no-repeat center top;
}

.flexigrid div.hDiv th div.sasc {
  background: url("/images/flexigrid/up.png") no-repeat center top;
}

.flexigrid span.cdropleft {
  background: url("/images/flexigrid/prev.gif") no-repeat -4px center;
}

.flexigrid div.hDiv span.cdropright {
  background: url("/images/flexigrid/next.gif") no-repeat 12px center;
}

.flexigrid div.bDiv tr.trSelected:hover td,.flexigrid div.bDiv tr.trSelected:hover td.sorted,.flexigrid div.bDiv tr.trOver.trSelected td.sorted,.flexigrid div.bDiv tr.trOver.trSelected td,.flexigrid tr.trSelected td.sorted,.flexigrid tr.trSelected td {
  background: #d5effc url("/images/flexigrid/hl.png") repeat-x top;
}

.flexigrid div.pDiv {
  background: url("/images/flexigrid/wbg.gif") repeat-x 0 -1px;
}

.flexigrid .pSearch {
  background: url("/images/flexigrid/magnifier.png") no-repeat center;
}

.flexigrid .pFirst {
  background: url("/images/flexigrid/first.gif") no-repeat center;
}

.flexigrid .pPrev {
  background: url("/images/flexigrid/prev.gif") no-repeat center;
}

.flexigrid .pNext {
  background: url("/images/flexigrid/next.gif") no-repeat center;
}

.flexigrid .pLast {
  background: url("/images/flexigrid/last.gif") no-repeat center;
}

.flexigrid .pReload {
  background: url("/images/flexigrid/load.png") no-repeat center;
}

.flexigrid .pReload.loading {
  background: url("/images/flexigrid/load.gif") no-repeat center;
}
